In [2]:
def simples():
    print("primeira fução")

In [3]:
simples()

primeira fução

In [5]:
def plus_ten(a):
    return a + 10

In [6]:
plus_ten(5)

15

In [8]:
def plus_ten(a):
    result = a + 10
    return result

In [9]:
plus_ten(2)

12

In [10]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [11]:
wage(8), with_bonus(8)

(200, 250)

In [14]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [15]:
add_10(50)

'Save more!'

In [17]:
add_10(100)

110

In [18]:
participantes = ['jhon','Leila','Andre','cate']
participantes

['jhon', 'Leila', 'Andre', 'cate']

In [19]:
participantes [0]

'jhon'

In [21]:
for i in participantes:
    print (i)

jhon
Leila
Andre
cate

In [22]:
 del participantes [0]

In [23]:
print (participantes)

['Leila', 'Andre', 'cate']

In [24]:
participantes.append("Elias")

In [25]:
participantes

['Leila', 'Andre', 'cate', 'Elias']

In [26]:
participantes.extend(['Beto','Mateus'])

In [27]:
participantes

['Leila', 'Andre', 'cate', 'Elias', 'Beto', 'Mateus']

In [28]:
len(participantes)

6

In [30]:
len('Andre Alves')

11

In [32]:
participantes[1:2]

['Andre']

In [33]:
participantes[:2]

['Leila', 'Andre']

In [36]:
participantes.sort()
participantes

['Andre', 'Beto', 'Elias', 'Leila', 'Mateus', 'cate']

In [41]:
participantes.sort(reverse = True)
participantes

['cate', 'Mateus', 'Leila', 'Elias', 'Beto', 'Andre']

In [42]:
numeros = [1,2,3,4,5]
numeros.sort()
numeros

[1, 2, 3, 4, 5]

In [43]:
numeros.sort(reverse = True)
numeros

[5, 4, 3, 2, 1]

In [44]:
tupla = (40, 41, 42)
tupla

(40, 41, 42)

In [45]:
a,b,c = 10, 5 , 50

In [46]:
c

50

In [57]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:")
    return A,P

In [58]:
square_info(5)

Area and Perimeter

(25, 20)

In [59]:
dicionario1 = {'k1': "Gato", 'k2': "Cachorro", 'k3': "Peixe"}
dicionario1

{'k1': 'Gato', 'k2': 'Cachorro', 'k3': 'Peixe'}

In [60]:
dicionario1['k2']

'Cachorro'

In [61]:
dicionario1['k4'] = 'master'

In [62]:
dicionario1['k4']

'master'